.resources {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0 217px 0;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .resources {
    padding: 100px 50px 217px 50px;
  }
}

