.video__iframes {
  max-width: 920px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 0 0 -60px 0;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .video__iframes {
    box-sizing: border-box;
    width: 100%;
    padding: 0 40px;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
}

