.feynman__title {
  margin: 0 auto;
  padding-bottom: 70px;
  max-width: 648px;
  text-align: center;
  z-index: 2;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

@media screen and (max-width: 1279px) {
  .feynman__title {
    font-size: 100px;
  }
}
