.video {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .video {
    padding-top: 80px;
  }
}
