.video__iframe {
  width: 515px;
  height: 316px;
  border: none;
}

@media screen and (max-width: 1279px) {
  .video__iframe {
    width: 440px;
    height: 248px;
  }
}

@media screen and (max-width: 1023px) {
  .video__iframe {
    width: 465px;
    height: 280px;
  }
}

