.kaufman__triangle {
  width: 877px;
  height: 877px;
  background: url(../../../images/kaufman-triangle.svg) center center/contain no-repeat;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}
