.khan__book-pic {
  width: 608px;
  height: 620px;
  object-fit: cover;
  object-position: top;
  margin-right: 48px;
}

@media screen and (max-width: 1279px) {
  .khan__book-pic {
    width: 570px;
    height: 560px;
  }
}


